<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">

	<!-- wp:pattern {"slug":"syncstock/hero"} /-->

	<!-- wp:pattern {"slug":"syncstock/features"} /-->

	<!-- wp:pattern {"slug":"syncstock/integrations"} /-->

	<!-- wp:pattern {"slug":"syncstock/stats"} /-->

	<!-- wp:pattern {"slug":"syncstock/pricing"} /-->

	<!-- wp:pattern {"slug":"syncstock/testimonials"} /-->

	<!-- wp:pattern {"slug":"syncstock/cta"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
